pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.markdown-body .highlight .hll { background-color: #ffffcc }
.markdown-body .highlight { background: #ffffff; }
.markdown-body .highlight .c { color: #177500 } /* Comment */
.markdown-body .highlight .err { color: #000 } /* Error */
.markdown-body .highlight .k { color: #A90D91 } /* Keyword */
.markdown-body .highlight .l { color: #1C01CE } /* Literal */
.markdown-body .highlight .n { color: #000 } /* Name */
.markdown-body .highlight .o { color: #000 } /* Operator */
.markdown-body .highlight .ch { color: #177500 } /* Comment.Hashbang */
.markdown-body .highlight .cm { color: #177500 } /* Comment.Multiline */
.markdown-body .highlight .cp { color: #633820 } /* Comment.Preproc */
.markdown-body .highlight .cpf { color: #177500 } /* Comment.PreprocFile */
.markdown-body .highlight .c1 { color: #177500 } /* Comment.Single */
.markdown-body .highlight .cs { color: #177500 } /* Comment.Special */
.markdown-body .highlight .kc { color: #A90D91 } /* Keyword.Constant */
.markdown-body .highlight .kd { color: #A90D91 } /* Keyword.Declaration */
.markdown-body .highlight .kn { color: #A90D91 } /* Keyword.Namespace */
.markdown-body .highlight .kp { color: #A90D91 } /* Keyword.Pseudo */
.markdown-body .highlight .kr { color: #A90D91 } /* Keyword.Reserved */
.markdown-body .highlight .kt { color: #A90D91 } /* Keyword.Type */
.markdown-body .highlight .ld { color: #1C01CE } /* Literal.Date */
.markdown-body .highlight .m { color: #1C01CE } /* Literal.Number */
.markdown-body .highlight .s { color: #C41A16 } /* Literal.String */
.markdown-body .highlight .na { color: #836C28 } /* Name.Attribute */
.markdown-body .highlight .nb { color: #A90D91 } /* Name.Builtin */
.markdown-body .highlight .nc { color: #3F6E75 } /* Name.Class */
.markdown-body .highlight .no { color: #000 } /* Name.Constant */
.markdown-body .highlight .nd { color: #000 } /* Name.Decorator */
.markdown-body .highlight .ni { color: #000 } /* Name.Entity */
.markdown-body .highlight .ne { color: #000 } /* Name.Exception */
.markdown-body .highlight .nf { color: #000 } /* Name.Function */
.markdown-body .highlight .nl { color: #000 } /* Name.Label */
.markdown-body .highlight .nn { color: #000 } /* Name.Namespace */
.markdown-body .highlight .nx { color: #000 } /* Name.Other */
.markdown-body .highlight .py { color: #000 } /* Name.Property */
.markdown-body .highlight .nt { color: #000 } /* Name.Tag */
.markdown-body .highlight .nv { color: #000 } /* Name.Variable */
.markdown-body .highlight .ow { color: #000 } /* Operator.Word */
.markdown-body .highlight .mb { color: #1C01CE } /* Literal.Number.Bin */
.markdown-body .highlight .mf { color: #1C01CE } /* Literal.Number.Float */
.markdown-body .highlight .mh { color: #1C01CE } /* Literal.Number.Hex */
.markdown-body .highlight .mi { color: #1C01CE } /* Literal.Number.Integer */
.markdown-body .highlight .mo { color: #1C01CE } /* Literal.Number.Oct */
.markdown-body .highlight .sa { color: #C41A16 } /* Literal.String.Affix */
.markdown-body .highlight .sb { color: #C41A16 } /* Literal.String.Backtick */
.markdown-body .highlight .sc { color: #2300CE } /* Literal.String.Char */
.markdown-body .highlight .dl { color: #C41A16 } /* Literal.String.Delimiter */
.markdown-body .highlight .sd { color: #C41A16 } /* Literal.String.Doc */
.markdown-body .highlight .s2 { color: #C41A16 } /* Literal.String.Double */
.markdown-body .highlight .se { color: #C41A16 } /* Literal.String.Escape */
.markdown-body .highlight .sh { color: #C41A16 } /* Literal.String.Heredoc */
.markdown-body .highlight .si { color: #C41A16 } /* Literal.String.Interpol */
.markdown-body .highlight .sx { color: #C41A16 } /* Literal.String.Other */
.markdown-body .highlight .sr { color: #C41A16 } /* Literal.String.Regex */
.markdown-body .highlight .s1 { color: #C41A16 } /* Literal.String.Single */
.markdown-body .highlight .ss { color: #C41A16 } /* Literal.String.Symbol */
.markdown-body .highlight .bp { color: #5B269A } /* Name.Builtin.Pseudo */
.markdown-body .highlight .fm { color: #000 } /* Name.Function.Magic */
.markdown-body .highlight .vc { color: #000 } /* Name.Variable.Class */
.markdown-body .highlight .vg { color: #000 } /* Name.Variable.Global */
.markdown-body .highlight .vi { color: #000 } /* Name.Variable.Instance */
.markdown-body .highlight .vm { color: #000 } /* Name.Variable.Magic */
.markdown-body .highlight .il { color: #1C01CE } /* Literal.Number.Integer.Long */
